<main>
  <div class="relative mx-auto px-8 max-w-7xl py-12 md:px-12">
    <div class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2">
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg?compress=1&resize=1600x1200&vertical=top"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-white">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Charms
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">5cm. x 5cm.</p>
          </div>
          <p class="text-base text-white">$3</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/8ea407efd5f947aa6a37488cfe305269.jpg?compress=1&resize=1600x1200&vertical=top"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-white">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Llaveros
              </a>
            </h3>
            <p class="mt-1 text-md font-medium leading-6 text-white">100% personalizados</p>
          </div>
          <p class="text-base text-white">$5</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16397986/media/75e59a9fcf94b8a51764df66ce7a1d4f.jpg?compress=1&resize=1600x1200&vertical=top"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-white">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Apliques
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Para lazos</p>
          </div>
          <p class="text-base text-white">$8</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/userupload/2739254/file/original-ac8226a7213611e49363fc0176a48cb0.jpg?compress=1&resize=1504x1128"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-white">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Figuras
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Personalizadas</p>
          </div>
          <p class="text-base text-white">$25</p>
        </div>
      </figure>
    </div>
  </div>
</main>
