---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="bg-pink-300">
    <slot />
    <Footer />
  </body><style>
    figure {
      margin: 0;
      padding: 0;
    }
  </style>
</html>
