<footer>
  <div class="items-center text-center 2xl:max-w-7xl lg:px-16 md:px-12 mx-auto px-8 w-xl xl:px-36">
    <div class="flex flex-col gap-y-12 items-start justify-between lg:flex-row lg:items-center lg:py-16 pb-6 pt-16">
      <div class="lg:text-center lg:mx-auto">
        <div class="flex items-center text-white">
          <div class="lg:text-center lg:mx-auto">
            <div class="flex items-center text-white">
              <div class="lg:text-center lg:mx-auto">
                <p class="text-sm mt-1">
                  Designed and built in the Ecuador<br />by
                  <a href="https://codebendr.com" class="underline hover:text-white duration-200"> codebendr </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
